@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


p{
    font-family: 'Roboto', sans-serif;
    font-size: small;
    color: #000000;
}
H5{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: 600;
}
H6{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    display: inline;
}


body{
    background: #F7F7FC;
}

.coluna_logo{
    /* background-color: red; */
    align-self: center;
}
.img_button{
    width: 100%;
    padding: 0%;
}
.logo_button{
    background-color: transparent !important;
    border-color: transparent;
    width: 40%;
}
.logo_button:hover{
    background-color: transparent !important;
    border-color: transparent;
}
.col_navigate_buttons{
    /* background-color: blue; */
    align-self: center;
}
.col_daily_xp{
    /* background-color: green; */
    text-align: end;
    align-self: center;
}

.card_question{
    background-color: #FFFFFF;
    border-color: transparent;
}
.card_prompt_superior{
    background-color: #05192D;
    border-color: transparent;
}
.card_prompt_inferior{
    background-color: #05192D;
    border-color: transparent;
}

.previous_button{
    /* background-color: purple; */
    border-radius: 20%;
    border-color: #616D7C;
    
}
.col_previous_button{
    /* background-color: red; */
    text-align: end;
    padding-right: 0;
}
.central_button{
    /* background-color: purple; */
    /* border-radius: 5%; */
    border-color: #616D7C;
}

.col_central_button{
    /* background-color: blue; */
    text-align: center;
}

.next_button{
    /* background-color: purple; */
    border-radius: 20%;
    border-color: #616D7C;
}
.col_next_button{
    /* background-color: green; */
    text-align: start;
    padding-left: 0;
}
.card_header{
    background-color: #E1E1E8;
    border-color: transparent;
}
.col_run_button{
    text-align: end;
    align-self: center;
}
.run_button{
    background-color: green;
    border-color: green;
}
.run_button:hover{
    background-color: gray;
    border-color: gray;
}

.cardOutputBody{
    background-color: #141414;
    color: #4A464A;
}
.cardOutputHeader{
    background-color: #232323;
    color: #868686;
}

.card-header:first-child {
    border-radius: 0%;
}